*.dll filter=lfs diff=lfs merge=lfs -text
swresample-3.dll filter=lfs diff=lfs merge=lfs -text
swscale-5.dll filter=lfs diff=lfs merge=lfs -text
avdevice-58.dll filter=lfs diff=lfs merge=lfs -text
avfilter-7.dll filter=lfs diff=lfs merge=lfs -text
avformat-58.dll filter=lfs diff=lfs merge=lfs -text
avutil-56.dll filter=lfs diff=lfs merge=lfs -text
postproc-55.dll filter=lfs diff=lfs merge=lfs -text
